@CHARSET "UTF-8";
	#main {
		min-height: 100vh;
		display: flex;
		justify-content : center;
		align-items : center;
		background-color: #faf1e6;
	}
	#main .inner {
		display: flex;
		flex-direction : column;
		justify-content : center;
		align-items : center;
	}
	#main .search {
		width : 100%;
		text-align: right;
	}
	#main .search .btn {
		font-size: 1rem;
		padding : 0;
	}
	#main .category-group {
		width : 100%;
		display: flex;
		justify-content : space-around;
		align-items : center;
		padding : 10px 0;
	}
	#main .category-group a {
		display : inline-block;
		padding : 10px 0;
	}
	#main .category-group a:hover {
		text-decoration: underline;
	}
	#main .product-group {
		display: flex;
		justify-content : center;
		align-items : center;
	}
	#main .product-group .product-card {
		width: 150px;
		padding : 5px 0;
		overflow: hidden;
		cursor: pointer;
		font-size: 1.3rem;
		display: flex;
		flex-direction : column;
		justify-content : center;
		align-items : center;
	}
	#main .product-group .product-card a {
		text-align: center;
	}
	#main .product-group .product-card img {
		width: 100%;
	}
	#main .btn-group {
		width : 100%;
		text-align: right;
		margin : 15px 0;
	}